/*--
	Theme Name: theme47072
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 4.4.x
	Author: Template_Help.com
	Author URL: http://www.Template-Help.com/
	Template: CherryFramework
	Version: 3.1.5
	MotoPress Version: 1.0
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */
